@{
    ViewBag.Title = "_authLayout";
}

<html dir="rtl" lang="fa-IR" class="js no-svg">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="fontiran.com:license" content="QTGS2">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="shortcut icon" href="@Url.Content("~/Vendor/img/icon/favicon.ico")" />

	<style>
		.wpb_content_element {
			display: inline-block;
		}

		.wpb_wrapper {
			display: inline;
		}
	</style>


	<script src="https://niki-kala.ir/wp-includes/js/zxcvbn.min.js" type="text/javascript" async=""></script>
	<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
	<title>Rosentis &#8211; Dental Store</title>
	<link rel="dns-prefetch" href="//s.w.org">
	<link rel="alternate" type="application/rss+xml" title="نیکی کالا » خوراک" href="https://niki-kala.ir/feed/">
	<link rel="alternate" type="application/rss+xml" title="نیکی کالا » خوراک دیدگاه&zwnj;ها" href="https://niki-kala.ir/comments/feed/">
	<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/niki-kala.ir\/wp-includes\/js\/wp-emoji-release.min.js"}};
			!function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
	</script>
	<script src="https://niki-kala.ir/wp-includes/js/wp-emoji-release.min.js" type="text/javascript" defer=""></script>
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel="stylesheet" id="wp-block-library-rtl-css" href="https://niki-kala.ir/wp-includes/css/dist/block-library/style-rtl.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="wc-block-style-rtl-css" href="https://niki-kala.ir/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style-rtl.css" type="text/css" media="all">
	<link rel="stylesheet" id="menu-image-css" href="https://niki-kala.ir/wp-content/plugins/menu-image/includes/css/menu-image.css" type="text/css" media="all">
	<link rel="stylesheet" id="wcva-shop-frontend-css" href="https://niki-kala.ir/wp-content/plugins/woocommerce-colororimage-variation-select/css/shop-frontend.css" type="text/css" media="all">
	<link rel="stylesheet" id="select2-css" href="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/css/select2.css" type="text/css" media="all">
	<link rel="stylesheet" id="woocommerce-layout-rtl-css" href="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/css/woocommerce-layout-rtl.css" type="text/css" media="all">
	<link rel="stylesheet" id="woocommerce-smallscreen-rtl-css" href="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen-rtl.css" type="text/css" media="only screen and (max-width: 768px)">
	<link rel="stylesheet" id="woocommerce-general-rtl-css" href="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/css/woocommerce-rtl.css" type="text/css" media="all">
	<style id="woocommerce-inline-inline-css" type="text/css">
		.woocommerce form .form-row .required {
			visibility: visible;
		}
	</style>
	<link rel="stylesheet" id="yith-wcbr-css" href="https://niki-kala.ir/wp-content/plugins/yith-woocommerce-brands-add-on/assets/css/yith-wcbr.css" type="text/css" media="all">
	<link rel="stylesheet" id="bootstrap-rtl-css" href="https://niki-kala.ir/wp-content/themes/Nikikala/assets/css/bootstrap-rtl.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="swiper-slider-css" href="https://niki-kala.ir/wp-content/themes/Nikikala/assets/css/swiper.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="nikikala-css" href="https://niki-kala.ir/wp-content/themes/Nikikala/assets/css/nikikala.css" type="text/css" media="all">
	<link rel="stylesheet" id="nikikala-style-css" href="https://niki-kala.ir/wp-content/themes/Nikikala/style.css" type="text/css" media="all">
	<link rel="stylesheet" id="nikan-offer-style-css" href="https://niki-kala.ir/wp-content/plugins/woocommerce-offer-nikan/assets/css/core.css" type="text/css" media="all">
	<link rel="stylesheet" id="dokan-style-css" href="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/css/style.css" type="text/css" media="all">
	<link rel="stylesheet" id="dokan-fontawesome-css" href="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/vendors/font-awesome/font-awesome.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="dokan-rtl-style-css" href="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/css/rtl.css" type="text/css" media="all">
	<link rel="stylesheet" id="dokan-select2-css-css" href="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/vendors/select2/select2.css" type="text/css" media="all">
	<link rel="stylesheet" id="dokan-pro-style-css" href="https://niki-kala.ir/wp-content/plugins/dokan-pro/assets/css/style.css" type="text/css" media="all">
	<link rel="stylesheet" id="dokan-pro-rtl-style-css" href="https://niki-kala.ir/wp-content/plugins/dokan-pro/assets/css/rtl.css" type="text/css" media="all">
	<link rel="stylesheet" id="dokan-social-style-css" href="https://niki-kala.ir/wp-content/plugins/dokan-pro/assets/css/jssocials.css" type="text/css" media="all">
	<link rel="stylesheet" id="dokan-social-theme-flat-css" href="https://niki-kala.ir/wp-content/plugins/dokan-pro/assets/css/jssocials-theme-flat.css" type="text/css" media="all">
	<link rel="stylesheet" id="ywpar_frontend-css" href="https://niki-kala.ir/wp-content/plugins/yith-woocommerce-points-and-rewards-premium/assets/css/frontend.css" type="text/css" media="all">
	<link rel="stylesheet" id="dgwt-wcas-style-css" href="https://niki-kala.ir/wp-content/plugins/ajax-search-for-woocommerce/assets/css/style.min.css" type="text/css" media="all">
	<script type="text/template" id="tmpl-variation-template">
		<div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
		<div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
		<div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div>
	</script>
	<script type="text/template" id="tmpl-unavailable-variation-template">
		<p>با عرض پوزش، این محصول در دسترس نیست. خواهشمندیمً ترکیب دیگری را انتخاب کنید.</p>
	</script>
	<script type="text/javascript">
/* <![CDATA[ */
var dokan = {"ajaxurl":"https:\/\/niki-kala.ir\/wp-admin\/admin-ajax.php","nonce":"acdee0363d","ajax_loader":"https:\/\/niki-kala.ir\/wp-content\/plugins\/dokan-lite\/assets\/images\/ajax-loader.gif","seller":{"available":"\u062f\u0631 \u062f\u0633\u062a\u0631\u0633","notAvailable":"\u0645\u0648\u062c\u0648\u062f \u0646\u06cc\u0633\u062a."},"delete_confirm":"\u0634\u0645\u0627 \u0645\u0637\u0645\u0626\u0646 \u0647\u0633\u062a\u06cc\u062f\u061f","wrong_message":"\u0638\u0627\u0647\u0631\u0627\u064b \u0627\u0634\u062a\u0628\u0627\u0647\u06cc \u0635\u0648\u0631\u062a \u06af\u0631\u0641\u062a\u0647 \u0627\u0633\u062a. \u0644\u0637\u0641\u0627 \u062f\u0648\u0628\u0627\u0631\u0647 \u062a\u0644\u0627\u0634 \u06a9\u0646\u06cc\u062f.","vendor_percentage":"90","commission_type":"percentage","rounding_precision":"6","mon_decimal_point":".","i18n_choose_featured_img":"\u0622\u067e\u0644\u0648\u062f \u062a\u0635\u0648\u06cc\u0631 \u0634\u0627\u062e\u0635","i18n_choose_file":"\u0627\u0646\u062a\u062e\u0627\u0628 \u06cc\u06a9 \u0641\u0627\u06cc\u0644","i18n_choose_gallery":"\u0627\u0641\u0632\u0648\u062f\u0646 \u0639\u06a9\u0633 \u0628\u0647 \u06af\u0627\u0644\u0631\u06cc \u0645\u062d\u0635\u0648\u0644\u0627\u062a","i18n_choose_featured_img_btn_text":"\u062a\u0639\u06cc\u06cc\u0646 \u062a\u0635\u0648\u06cc\u0631 \u0634\u0627\u062e\u0635","i18n_choose_file_btn_text":"\u0648\u0627\u0631\u062f \u06a9\u0631\u062f\u0646 \u0622\u062f\u0631\u0633 \u0641\u0627\u06cc\u0644","i18n_choose_gallery_btn_text":"\u0627\u0641\u0632\u0648\u062f\u0646 \u0628\u0647 \u06af\u0627\u0644\u0631\u06cc","duplicates_attribute_messg":"\u0628\u0627 \u0639\u0631\u0636 \u067e\u0648\u0632\u0634\u060c \u0627\u06cc\u0646 \u06af\u0632\u06cc\u0646\u0647 \u0648\u06cc\u0698\u06af\u06cc \u062f\u0631 \u062d\u0627\u0644 \u062d\u0627\u0636\u0631 \u0648\u062c\u0648\u062f \u062f\u0627\u0631\u062f\u060c \u062f\u06cc\u06af\u0631\u06cc \u0631\u0627 \u0627\u0645\u062a\u062d\u0627\u0646 \u06a9\u0646\u06cc\u062f.","variation_unset_warning":"\u0647\u0634\u062f\u0627\u0631! \u0627\u06af\u0631 \u0627\u06cc\u0646 \u06af\u0632\u06cc\u0646\u0647 \u0631\u0627 \u0627\u0646\u062a\u062e\u0627\u0628 \u0646\u06a9\u0646\u06cc\u062f\u060c \u0627\u06cc\u0646 \u0645\u062d\u0635\u0648\u0644 \u0647\u06cc\u0686 \u0646\u0648\u0639 \u0645\u062a\u063a\u06cc\u0631\u06cc \u0646\u062e\u0648\u0627\u0647\u062f \u062f\u0627\u0634\u062a.","new_attribute_prompt":"\u06cc\u06a9 \u0646\u0627\u0645 \u0628\u0631\u0627\u06cc \u0648\u06cc\u0698\u06af\u06cc \u062c\u062f\u06cc\u062f \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f:","remove_attribute":"\u062d\u0630\u0641 \u0627\u06cc\u0646 \u062e\u0635\u0648\u0635\u06cc\u062a\u061f","dokan_placeholder_img_src":"https:\/\/niki-kala.ir\/wp-content\/uploads\/woocommerce-placeholder-300x300.png","add_variation_nonce":"eebd1bb753","link_variation_nonce":"ae61361677","delete_variations_nonce":"8cd94dc249","load_variations_nonce":"80a0cf4f44","save_variations_nonce":"9f1d605d3d","bulk_edit_variations_nonce":"df29947dd6","i18n_link_all_variations":"\u0622\u06cc\u0627 \u0634\u0645\u0627 \u0645\u0627\u06cc\u0644 \u0628\u0647 \u062a\u0631\u06a9\u06cc\u0628 \u062a\u0645\u0627\u0645 \u0645\u062a\u063a\u06cc\u0631\u0647\u0627 \u0647\u0633\u062a\u06cc\u062f\u061f \u062f\u0631 \u0627\u06cc\u0646 \u062d\u0627\u0644\u062a \u06cc\u06a9 \u0645\u062a\u063a\u06cc\u0631 \u062c\u062f\u06cc\u062f \u06a9\u0647 \u062d\u0627\u0648\u06cc \u062a\u0631\u06a9\u06cc\u0628 \u062a\u0645\u0627\u0645\u06cc \u0645\u0634\u062e\u0635\u0627\u062a \u0645\u0645\u06a9\u0646 \u0645\u062a\u063a\u06cc\u0631\u0647\u0627\u0633\u062a\u060c \u0633\u0627\u062e\u062a\u0647 \u0645\u06cc\u200c\u0634\u0648\u062f. (\u062f\u0631 \u0628\u06cc\u0634\u062a\u0631\u06cc\u0646 \u062d\u0627\u0644\u062a 50 \u0628\u0627\u0631 \u062f\u0631 \u0647\u0631 \u0627\u062c\u0631\u0627)","i18n_enter_a_value":"\u06cc\u06a9 \u0645\u0642\u062f\u0627\u0631 \u0648\u0627\u0631\u062f \u0646\u0645\u0627\u06cc\u06cc\u062f.","i18n_enter_menu_order":"\u0645\u0646\u0648\u06cc \u062a\u0646\u0648\u0639 \u0633\u0641\u0627\u0631\u0634 (\u062a\u0639\u06cc\u06cc\u0646 \u0645\u0648\u0642\u0639\u06cc\u062a \u062f\u0631 \u0644\u06cc\u0633\u062a \u062a\u063a\u06cc\u06cc\u0631\u0627\u062a)","i18n_enter_a_value_fixed_or_percent":"\u06cc\u06a9 \u0645\u0642\u062f\u0627\u0631 \u0648\u0627\u0631\u062f \u0646\u0645\u0627\u06cc\u06cc\u062f (\u062b\u0627\u0628\u062a \u06cc\u0627 %)","i18n_delete_all_variations":"\u0622\u06cc\u0627 \u0645\u0637\u0645\u0626\u0646 \u0647\u0633\u062a\u06cc\u062f \u06a9\u0647 \u0645\u06cc \u062e\u0648\u0627\u0647\u06cc\u062f \u062a\u0645\u0627\u0645\u06cc \u062a\u063a\u06cc\u06cc\u0631\u0627\u062a \u0631\u0627 \u062d\u0630\u0641 \u06a9\u0646\u06cc\u062f\u061f \u0627\u06cc\u0646 \u0642\u0627\u0628\u0644 \u0628\u0627\u0632\u06af\u0634\u062a \u0646\u06cc\u0633\u062a.","i18n_last_warning":"\u0627\u062e\u0631\u06cc\u0646 \u0647\u0634\u062f\u0627\u0631 \u0622\u06cc\u0627 \u0634\u0645\u0627 \u0627\u0632 \u0627\u06cc\u0646 \u06a9\u0627\u0631 \u0627\u0637\u0645\u06cc\u0646\u0627\u0646 \u062f\u0627\u0631\u06cc\u062f\u061f","i18n_choose_image":"\u0627\u0646\u062a\u062e\u0627\u0628 \u062a\u0635\u0648\u06cc\u0631","i18n_set_image":"\u062a\u0646\u0638\u06cc\u0645 \u062a\u0635\u0648\u06cc\u0631 \u0645\u062a\u063a\u06cc\u0631","i18n_variation_added":"\u062a\u063a\u06cc\u06cc\u0631 \u0627\u0636\u0627\u0641\u0647 \u0634\u062f.","i18n_variations_added":"\u062a\u063a\u06cc\u06cc\u0631\u0627\u062a \u0627\u0636\u0627\u0641\u0647 \u0634\u062f.","i18n_no_variations_added":"\u062a\u063a\u06cc\u06cc\u0631\u0627\u062a\u06cc \u0627\u0636\u0627\u0641\u0647 \u0646\u0634\u062f\u0647 \u0627\u0633\u062a.","i18n_remove_variation":"\u0645\u0637\u0645\u0626\u0646\u06cc\u062f \u06a9\u0647 \u0645\u06cc \u062e\u0648\u0627\u0647\u06cc\u062f  \u0627\u06cc\u0646 \u062a\u063a\u06cc\u06cc\u0631 \u0631\u0627 \u062d\u0630\u0641 \u06a9\u0646\u06cc\u062f\u061f","i18n_scheduled_sale_start":"\u062a\u0627\u0631\u06cc\u062e \u0634\u0631\u0648\u0639 \u062d\u0631\u0627\u062c (\u062f\u0631 \u0642\u0627\u0644\u0628 YYYY-MM-DD \u06cc\u0627 \u062e\u0627\u0644\u06cc \u0628\u06af\u0630\u0627\u0631\u06cc\u062f)","i18n_scheduled_sale_end":"\u062a\u0627\u0631\u06cc\u062e \u067e\u0627\u06cc\u0627\u0646 \u0641\u0631\u0648\u0634 (\u062f\u0631 \u0642\u0627\u0644\u0628 YYYY-MM-DD \u06cc\u0627 \u062e\u0627\u0644\u06cc \u0628\u06af\u0630\u0627\u0631\u06cc\u062f)","i18n_edited_variations":"\u062a\u063a\u06cc\u06cc\u0631\u0627\u062a \u0631\u0627 \u0630\u062e\u06cc\u0631\u0647 \u06a9\u0646\u06cc\u062f \u0642\u0628\u0644 \u0627\u0632 \u0627\u06cc\u0646\u06a9\u0647 \u0635\u0641\u062d\u0647 \u0631\u0627 \u062a\u063a\u06cc\u06cc\u0631 \u062f\u0647\u06cc\u062f.","i18n_variation_count_single":"%qty% \u0645\u062a\u063a\u06cc\u0631","i18n_variation_count_plural":"%qty% \u0645\u062a\u063a\u06cc\u0631\u0647\u0627","i18n_no_result_found":"\u0646\u062a\u06cc\u062c\u0647\u200c\u0627\u06cc \u06cc\u0627\u0641\u062a \u0646\u0634\u062f.","variations_per_page":"10","store_banner_dimension":{"width":"625","height":"300","flex-width":true,"flex-height":true},"selectAndCrop":"\u0627\u0646\u062a\u062e\u0627\u0628 \u0648 \u0628\u0631\u0634","chooseImage":"\u0627\u0646\u062a\u062e\u0627\u0628 \u062a\u0635\u0648\u06cc\u0631","product_title_required":"\u0639\u0646\u0648\u0627\u0646 \u06a9\u0627\u0644\u0627 \u0627\u0644\u0632\u0627\u0645\u06cc \u0645\u06cc \u0628\u0627\u0634\u062f.","product_category_required":"\u062f\u0633\u062a\u0647 \u0645\u062d\u0635\u0648\u0644 \u0636\u0631\u0648\u0631\u06cc \u0627\u0633\u062a.","search_products_nonce":"92a5eeea1b","search_customer_nonce":"d31df785c6","i18n_matches_1":"\u06cc\u06a9 \u0646\u062a\u06cc\u062c\u0647 \u062f\u0631 \u062f\u0633\u062a\u0631\u0633 \u0627\u0633\u062a\u060c \u0628\u0631\u0627\u06cc \u0627\u0646\u062a\u062e\u0627\u0628 \u0622\u0646 \u0631\u0627 \u0641\u0634\u0627\u0631 \u062f\u0647\u06cc\u062f.","i18n_matches_n":"%qty% \u0646\u062a\u06cc\u062c\u0647 \u062f\u0631 \u062f\u0633\u062a\u0631\u0633 \u0627\u0633\u062a. \u0628\u0627 \u0627\u0633\u062a\u0641\u0627\u062f\u0647 \u0627\u0632 \u06a9\u0644\u06cc\u062f\u0647\u0627\u06cc \u0628\u0627\u0644\u0627 \u0648 \u067e\u0627\u06cc\u06cc\u0646 \u0628\u0647 \u0622\u0646\u0647\u0627 \u062f\u0633\u062a\u0631\u0633\u06cc \u062f\u0627\u0634\u062a\u0647 \u0628\u0627\u0634\u06cc\u062f.","i18n_no_matches":"\u062c\u0633\u062a\u062c\u0648 \u062d\u0627\u0635\u0644\u06cc \u062f\u0631\u0628\u0631\u0646\u062f\u0627\u0634\u062a.","i18n_ajax_error":"\u0628\u0627\u0631\u06af\u06cc\u0631\u06cc \u0627\u0646\u062c\u0627\u0645 \u0646\u0634\u062f.","i18n_input_too_short_1":"\u0644\u0637\u0641\u0627 1 \u06cc\u0627 \u0686\u0646\u062f \u06a9\u0627\u0631\u0627\u06a9\u062a\u0631 \u0631\u0627 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","i18n_input_too_short_n":"\u0644\u0637\u0641\u0627 \u062a\u0639\u062f\u0627\u062f %qty% \u06a9\u0627\u0631\u0627\u06a9\u062a\u0631 \u06cc\u0627 \u0628\u06cc\u0634\u062a\u0631 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","i18n_input_too_long_1":"\u0644\u0637\u0641\u0627 1 \u06a9\u0627\u0631\u0627\u06a9\u062a\u0631 \u0631\u0627 \u062d\u0630\u0641 \u06a9\u0646\u06cc\u062f.","i18n_input_too_long_n":"\u0644\u0637\u0641\u0627\u064b %qty% \u06a9\u0627\u0631\u0627\u06a9\u062a\u0631 \u0631\u0627 \u062d\u0630\u0641 \u06a9\u0646\u06cc\u062f.","i18n_selection_too_long_1":"\u0634\u0645\u0627 \u0641\u0642\u0637 \u0645\u06cc\u200c\u062a\u0648\u0627\u0646\u06cc\u062f 1 \u0622\u06cc\u062a\u0645 \u0631\u0627 \u0627\u0646\u062a\u062e\u0627\u0628 \u06a9\u0646\u06cc\u062f.","i18n_selection_too_long_n":"\u0634\u0645\u0627 \u062a\u0646\u0647\u0627 \u0645\u06cc\u200c\u062a\u0648\u0627\u0646\u06cc\u062f %qty% \u0622\u06cc\u062a\u0645 \u0627\u0646\u062a\u062e\u0627\u0628 \u06a9\u0646\u06cc\u062f.","i18n_load_more":"\u0628\u0627\u0631\u06af\u0630\u0627\u0631\u06cc \u0646\u062a\u0627\u06cc\u062c \u0628\u06cc\u0634\u062a\u0631\u2026","i18n_searching":"\u062f\u0631\u062d\u0627\u0644 \u062c\u0633\u062a\u062c\u0648\u2026","i18n_date_format":"j F Y","rest":{"root":"https:\/\/niki-kala.ir\/wp-json\/","nonce":"6b0d59f8d4","version":"dokan\/v1"},"api":null,"libs":[],"routeComponents":{"default":null},"routes":[]};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/jquery/jquery.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var wcva_shop = {"left_icon":"https:\/\/niki-kala.ir\/wp-content\/plugins\/woocommerce-colororimage-variation-select\/images\/left-arrow.png","right_icon":"https:\/\/niki-kala.ir\/wp-content\/plugins\/woocommerce-colororimage-variation-select\/images\/right-arrow.png","enable_slider":"no","slider_no":"4","hover_swap":"no"};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce-colororimage-variation-select/js/shop-frontend.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"\u0645\u0634\u0627\u0647\u062f\u0647 \u0633\u0628\u062f \u062e\u0631\u06cc\u062f","cart_url":"https:\/\/niki-kala.ir\/cart\/","is_cart":"","cart_redirect_after_add":"yes"};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var _zxcvbnSettings = {"src":"https:\/\/niki-kala.ir\/wp-includes\/js\/zxcvbn.min.js"};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/zxcvbn-async.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-pro/includes/modules/single-product-multiple-vendor/assets/js/tinysort.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js"></script>
	<!--[if lt IE 9]>
	<script type='text/javascript' src='https://niki-kala.ir/wp-content/themes/Nikikala/assets/js/html5.js'></script>
	<![endif]-->
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce-offer-nikan/assets/js/jquery.easing.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce-offer-nikan/assets/js/main.js"></script>
	<!--[if lt IE 8]>
	<script type='text/javascript' src='https://niki-kala.ir/wp-includes/js/json2.min.js'></script>
	<![endif]-->
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/js/jquery-serializejson/jquery.serializejson.min.js"></script>
	<link rel="https://api.w.org/" href="https://niki-kala.ir/wp-json/">
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://niki-kala.ir/xmlrpc.php?rsd">
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://niki-kala.ir/wp-includes/wlwmanifest.xml">

	<link rel="canonical" href="https://niki-kala.ir/my-account/">
	<link rel="shortlink" href="https://niki-kala.ir/?p=13">
	<link rel="alternate" type="application/json+oembed" href="https://niki-kala.ir/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fniki-kala.ir%2Fmy-account%2F">
	<link rel="alternate" type="text/xml+oembed" href="https://niki-kala.ir/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fniki-kala.ir%2Fmy-account%2F&amp;format=xml">
	<!-- Analytics by WP-Statistics v12.6.12 - http://wp-statistics.com/ -->
	<style type="text/css">
		.dgwt-wcas-ico-magnifier {
			max-width: 20px
		}

		.dgwt-wcas-search-wrapp {
			max-width: 600px
		}
	</style>
	<script>
			document.documentElement.className = document.documentElement.className.replace( 'no-js', 'js' );
	</script>
	<style>
		.no-js img.lazyload {
			display: none;
		}

		figure.wp-block-image img.lazyloading {
			min-width: 150px;
		}

		.lazyload, .lazyloading {
			opacity: 0;
		}

		.lazyloaded {
			opacity: 1;
			transition: opacity 400ms;
			transition-delay: 0ms;
		}
	</style>
	<noscript>
		<style>
			.woocommerce-product-gallery {
				opacity: 1 !important;
			}
		</style>
	</noscript>
	<meta name="robots" content="noindex,follow">
	<style type="text/css">
		/**
		 * Dynamic Styles
		 */
		ul.jcaa_attr_variable_select .jcaa_attr_option:hover {
			border-color: #333333 !important;
		}

		.jcaa_attr_select .jcaa_attr_option, .jcaa_attr_select .jcaa_attr_option.jcass_attr_disable:hover {
			border: 2px solid #FFFFFF !important;
		}

		.jcaa_attr_select.jcaa_size_small .jcaa_obj_image.jcaa_attr_option, .jcaa_attr_select.jcaa_size_small .jcaa_obj_color.jcaa_attr_option {
			width: 20px;
			height: 20px;
		}

		.upsells.products .jcaa_attr_select.jcaa_size_small .jcaa_obj_image.jcaa_attr_option, .upsells.products .jcaa_attr_select.jcaa_size_small .jcaa_obj_color.jcaa_attr_option {
			width: 20px;
			height: 20px;
		}

		.jcaa_attr_select.jcaa_size_small .jcaa_obj_text.jcaa_attr_option {
			line-height: 20px;
			font-size: 10px;
		}

		.jcaa_attr_select.jcaa_size_medium .jcaa_obj_image.jcaa_attr_option, .jcaa_attr_select.jcaa_size_medium .jcaa_obj_color.jcaa_attr_option {
			width: 30px;
			height: 30px;
		}

		.upsells.products .jcaa_attr_select.jcaa_size_medium .jcaa_obj_image.jcaa_attr_option, .upsells.products .jcaa_attr_select.jcaa_size_medium .jcaa_obj_color.jcaa_attr_option {
			width: 30px;
			height: 30px;
		}

		.jcaa_attr_select.jcaa_size_medium .jcaa_obj_text.jcaa_attr_option {
			line-height: 30px;
			font-size: 15px;
		}

		.jcaa_attr_select.jcaa_size_large .jcaa_obj_image.jcaa_attr_option, .jcaa_attr_select.jcaa_size_large .jcaa_obj_color.jcaa_attr_option {
			width: 40px;
			height: 40px;
		}

		.upsells.products .jcaa_attr_select.jcaa_size_large .jcaa_obj_image.jcaa_attr_option, .upsells.products .jcaa_attr_select.jcaa_size_large .jcaa_obj_color.jcaa_attr_option {
			width: 40px;
			height: 40px;
		}

		.jcaa_attr_select.jcaa_size_large .jcaa_obj_text.jcaa_attr_option {
			line-height: 40px;
			font-size: 20px;
		}

		ul.jcaa_attr_select li {
			border: 1px solid #DDDDDD;
		}

		.jcaa_attr_select .jcaa_active_attr {
			border-color: #333333;
		}

		.jcaa_attr_select .jcass_attr_disabled {
			opacity: 0.2;
		}
	</style>
	<style type="text/css">
		.recentcomments a {
			display: inline !important;
			padding: 0 !important;
			margin: 0 !important;
		}
	</style>
	<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress.">
	<style type="text/css" title="dynamic-css" class="options-output">
		body, .new-header .header-cart-btn[data-counter]:after {
			font-family: IRANYekan;
		}

		body {
			background-color: #f5f5f5;
		}

		body {
			color: #515151;
		}

		a {
			color: #4a5f73;
		}

			a:hover {
				color: #4a5f73;
			}

		.top-header-banner {
			background-repeat: repeat-x;
			background-position: center top;
			background-image: url('https://niki-kala.ir/wp-content/uploads/2019/04/Topbar.jpg');
		}

			.top-header-banner, .top-header-banner a {
				color: #000000;
			}

				.top-header-banner:hover, .top-header-banner a:hover {
					color: #ffffff;
				}

		.nikikala-header .fix-header-row {
			background-color: #ffffff;
		}

		.nikikala-header {
			color: #515151;
		}

		.dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
			background-color: #ef5661;
		}

		.dgwt-wcas-ico-magnifier {
			fill: #ffffff;
		}

		.header-cart-btn[data-counter="0"], .header-cart-btn[data-counter="0"]:hover, .header-cart-btn[data-counter="0"]:before, .cart-counts-number[data-counter]:after {
			color: #00bfd6;
		}

			.header-cart-btn, .header-basket-submit, .header-basket-submit:hover, .header-cart-btn[data-counter="0"] span:after {
				background-color: #00bfd6;
			}

				.header-cart-btn[data-counter="0"] {
					border-color: #00bfd6;
				}

				.header-cart-btn, .header-cart-btn:hover, .header-cart-btn:not([href]):not([tabindex]), .header-cart-btn:hover:not([href]):not([tabindex]), .cart-counts-number[data-counter="0"]:after, .header-basket-submit, .header-basket-submit:hover {
					color: #ffffff;
				}

					.header-cart-btn[data-counter="0"], .cart-counts-number[data-counter]:after {
						background-color: #ffffff;
					}

		.niki-menu, .niki-menu-list {
			background-color: #616161;
		}

		.niki-menu-list-items-item > li > a, .niki-menu-list-items-item > li:hover > a {
			color: #ffffff;
		}

			.niki-menu-list-items-item > li:hover > a:before, .niki-menu-list-promotions-item li a:hover:before {
				background-color: #ef5661;
			}

		.niki-menu-list-items-item li > ul, .niki-menu-list-items-item li:hover > ul {
			background-color: #ffffff;
		}

			.niki-menu-list-items-item li > ul > li a, .niki-menu-list-items-item li > ul > li a:before {
				color: #1ca2bd;
			}

				.niki-menu-list-items-item li > ul > li a:hover span {
					border-color: #1ca2bd;
				}

			.niki-menu-list-items-item li > ul > li > ul > li a {
				color: #6a6a6a;
			}

		.niki-menu-list-promotions-item li a {
			background-color: #4f4f4f;
		}

			.niki-menu-list-promotions-item li a, .niki-menu-list-promotions-item li a:hover {
				color: #ffffff;
			}

		.niki-menu-line {
			background-color: #000000;
		}

		.nikikala-footer {
			background-color: #eceff1;
		}

		.go-to-top {
			background-color: #f5f5f5;
		}

		.go-to-top {
			color: #4a4a4a;
		}

		.go-to-top-icon {
			background-color: #bfbfbf;
		}

			.go-to-top-icon:before {
				color: #ffffff;
			}

		.footer-single-feature {
			color: #606060;
		}

		.footer-second-box .widget-title, .footer-second-box .widget-title a, .nikikala-footer .newsletter-form-title {
			color: #4a5f73;
		}

		.footer-second-box ul li a {
			color: #4b4b4b;
		}

		.nikikala-footer .newsletter-form button {
			background-color: #00bfd6;
		}

		.nikikala-footer .newsletter-form button {
			color: #ffffff;
		}

		.nikikala-footer-contact-row, .nikikala-footer-contact-row li {
			color: #535353;
		}

			.nikikala-footer-contact-row li a {
				color: #4a5f73;
			}

		.nikikala-footer-info {
			background-color: #d7dee0;
		}

		.nikikala-footer-info-content-box h1 {
			color: #5d5959;
		}

		.nikikala-footer-info-content-box p {
			color: #535353;
		}

		.nikikala-footer-info a {
			color: #8e8e8e;
		}

		.nikikala-footer-copyright-text {
			color: #4a4a4a;
		}

		.woocommerce div.product .single-new-style p.price, .woocommerce div.product .single-new-style span.price, .single-new-style .single-price-section .product-price-val span, .woocommerce div.product .single-new-style p.price .woocommerce-Price-currencySymbol, .woocommerce div.product .single-new-style span.price .woocommerce-Price-currencySymbol {
			color: #fb3449;
		}

		.product-page-main form.cart .button.alt, .single-new-style form.cart .button.alt {
			background-color: #00bfd6;
		}

		.product-page-main form.cart .button.alt, .single-new-style form.cart .button.alt {
			border-color: #00bfd6;
		}

		.product-page-main form.cart .button.alt, .single-new-style form.cart .button.alt {
			color: #ffffff;
		}

		.products-swiper-price-value .swiper-old-price .swiper-old-price-discount, .single-new-style .single-price-section .product-price-discount span, .single-p-box-price .discount-percent {
			background-color: #fb3449;
		}

		.products-swiper-price-value .swiper-old-price .swiper-old-price-discount, .single-new-style .single-price-section .product-price-discount span, .single-p-box-price .discount-percent {
			color: #ffffff;
		}

		.top-header-banner {
			height: 60px;
		}

		#nikanhomeslider {
			height: 329px;
		}

			#nikanhomeslider .swiper-slide {
				background-repeat: no-repeat;
				background-size: inherit;
				background-position: center center;
			}

		#nikanmobslider {
			height: 214px;
		}

			#nikanmobslider .swiper-slide {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
			}
	</style>
	<style type="text/css" class="nikan-offer-dynamic-css">
		.specials-product-swiper {
			background-color: #ef394e
		}

		.specials-product-swiper-btn {
			border-color: #ffffff;
			color: #ffffff
		}

		.specials-product-swiper-item-title {
			color: #535353
		}

		.specials-product-swiper-item-price-value del {
			color: #acacac
		}

		.specials-product-swiper-item-price-value-wrapper {
			color: #000000
		}

		.specials-product-swiper-item-price-discount {
			background-color: #fb3449;
			color: #ffffff
		}

		.specials-product-swiper-item-amazing, .specials-product-swiper-item-timer {
			color: #737373
		}

		.selected-offers-row-banner-title, .specials-product-swiper-headline > span {
			color: #ef5662
		}

			.specials-product-swiper-headline > span:before {
				background-color: #ef5662
			}

		.nikan-navigator-new {
			background-color: rgba(240,246,250,.9);
			border-right-color: #ececec
		}

			.nikan-navigator-new .navigator-wrap-inner li span {
				color: #464646
			}

			.nikan-navigator-new .navigator-wrap-inner li:hover {
				background-color: #ebecf0
			}

			.nikan-navigator-new .navigator-wrap-inner li.active, .nikan-navigator-new .navigator-wrap-inner li span:before {
				background-color: #ef5661
			}

				.nikan-navigator-new .navigator-wrap-inner li.active span {
					color: #ffffff
				}

			.nikan-navigator-new .view-all-offers, .nikan-offer-section .all-offers-btn {
				background-color: #00bfd6;
				color: #ffffff !important
			}

		.nikan-sliderwarp-new .offer-text-section:before {
			background-color: #ef5661;
			background-image: url(https://niki-kala.ir/wp-content/plugins/woocommerce-offer-nikan/assets/images/slider-item-header.png);
		}

		.nikan-sliderwarp-new .nikan-opacity li, .nikan-offer-section .single-offer-box {
			background-color: #ffffff
		}

		.nikan-sliderwarp-new a, .nikan-sliderwarp a:hover, .nikan-sliderwarp-new .timer-title, .nikan-offer-section .single-offer-title {
			color: #515151
		}

		.nikan-sliderwarp-new .products_sliders-wrap > li > a:hover {
			color: #515151 !important
		}

		.nikan-sliderwarp-new .product_attributes span:before {
			background-color: #bebebe
		}

		.nikan-sliderwarp-new .counter-box .clock-timer {
			color: #515151
		}

		.nikan-sliderwarp-new .price-box-main .price-old, .nikan-offer-section .single-offer-price del {
			color: #727272
		}

		.nikan-sliderwarp-new .price-box-main .price-final, .nikan-offer-section .single-offer-price-box, .nikan-offer-section .single-offer-box .single-offer-currency {
			color: #ef5661
		}

		.nikan-sliderwarp-new .price-box-discount, .nikan-offer-section .single-offer-discount {
			color: #ffffff
		}

		.nikan-sliderwarp-new .price-box-discount-inner, .nikan-offer-section .single-offer-discount {
			background-color: #ef5661
		}

		.nikan-sliderwarp-new .price-box-finished, .nikan-sliderwarp-new .btn-out-of-stock {
			background-color: rgba(255, 255, 255, 0.8);
			;
			border-color: rgba(145, 145, 145, 0.3);
			color: #919191
		}

		.nikan-offer-section .out-of-stock-text, .nikan-offer-section .single-offer-counter.out-text {
			color: #919191
		}

		.nikan-offers-single-page-deal {
			background-color: rgba(251,52,72,.04);
			border-color: #ffcdd3
		}

			.nikan-offers-single-page-deal .nikan-offers-special-deal {
				color: #fb3449
			}

		.nikan-offers-amazing-offer {
			background-color: #fb3449;
			color: #ffffff
		}
	</style>
	<noscript>
		<style>
			.wpb_animate_when_almost_visible {
				opacity: 1;
			}
		</style>
	</noscript>
</head>

<body class="rtl page-template-default page page-id-13 theme-Nikikala woocommerce-account woocommerce-page woocommerce-js yith-wcan-pro new-header wpb-js-composer js-comp-ver-6.1 vc_responsive dokan-theme-Nikikala">



    @RenderBody()
	<!-- #page -->

	<div class="remodal-wrapper">

	</div>

	<div class="remodal-wrapper">

	</div>

	<div class="remodal-wrapper">

	</div>

	<div class="remodal-wrapper">

	</div>


	<div class="remodal-wrapper">

	</div>


	<script type="text/javascript">
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/js/selectWoo/selectWoo.full.min.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var pwsL10n = {"unknown":"\u0642\u062f\u0631\u062a \u0631\u0645\u0632 \u0646\u0627\u0645\u0634\u062e\u0635","short":"\u0628\u0633\u06cc\u0627\u0631 \u0633\u0633\u062a","bad":"\u0633\u0633\u062a","good":"\u0645\u06cc\u0627\u0646\u0647","strong":"\u0646\u06cc\u0631\u0648\u0645\u0646\u062f","mismatch":"\u0646\u0627\u0647\u0645\u0633\u0627\u0646"};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-admin/js/password-strength-meter.min.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var wc_password_strength_meter_params = {"min_password_strength":"3","stop_checkout":"","i18n_password_error":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u0631\u0645\u0632 \u0639\u0628\u0648\u0631 \u0642\u0648\u06cc \u0627\u06cc\u062c\u0627\u062f \u06a9\u0646\u06cc\u062f.","i18n_password_hint":"\u0631\u0627\u0647\u0646\u0645\u0627\u06cc\u06cc: \u0631\u0645\u0632 \u0628\u0627\u06cc\u062f \u062f\u0633\u062a\u06a9\u0645 \u06f7 \u062d\u0631\u0641 \u0628\u0627\u0634\u062f. \u0628\u0631\u0627\u06cc \u0642\u0648\u06cc\u200c\u062a\u0631 \u06a9\u0631\u062f\u0646 \u0622\u0646\u060c \u0627\u0632 \u062d\u0631\u0648\u0641 \u06a9\u0648\u0686\u06a9 \u0648 \u0628\u0632\u0631\u06af \u0627\u0646\u06af\u0644\u06cc\u0633\u06cc\u060c \u0627\u0639\u062f\u0627\u062f \u0648 \u0646\u0645\u0627\u062f\u0647\u0627\u06cc\u06cc \u0645\u0627\u0646\u0646\u062f ! \" \u061f $ % ^ & ) \u0627\u0633\u062a\u0641\u0627\u062f\u0647 \u06a9\u0646\u06cc\u062f."};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/js/frontend/password-strength-meter.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_e977ccbd60b34c050988beef31f23054","fragment_name":"wc_fragments_e977ccbd60b34c050988beef31f23054","request_timeout":"5000"};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/wp-smushit/app/assets/js/smush-lazy-load.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/themes/Nikikala/assets/js/swiper.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/themes/Nikikala/assets/js/remodal.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var nikikala_ajax_actions = {"ajaxurl":"https:\/\/niki-kala.ir\/wp-admin\/admin-ajax.php","loginRedirectURL":"https:\/\/niki-kala.ir\/my-account\/","loginRedirectVendorURL":"https:\/\/niki-kala.ir\/dashboard\/","readmore_string":"\u0627\u062f\u0627\u0645\u0647 \u0645\u0637\u0644\u0628","close_string":"\u0628\u0633\u062a\u0646","moreitems_string":"\u0645\u0648\u0627\u0631\u062f \u0628\u06cc\u0634\u062a\u0631","verybad_string":"\u062e\u06cc\u0644\u06cc \u0628\u062f","bad_string":"\u0628\u062f","normal_string":"\u0645\u0639\u0645\u0648\u0644\u06cc","good_string":"\u062e\u0648\u0628","verygood_string":"\u062e\u06cc\u0644\u06cc \u062e\u0648\u0628","commentvideoSize":"50","commentvideoSizeError":"\u062d\u062c\u0645 \u0648\u06cc\u062f\u0626\u0648 \u0646\u0628\u0627\u06cc\u062f \u0628\u06cc\u0634 \u0627\u0632 50 \u0645\u06af\u0627\u0628\u0627\u06cc\u062a \u0628\u0627\u0634\u062f","commentvideoCountError":"\u0645\u062c\u0627\u0632 \u0628\u0647 \u0628\u0627\u0631\u06af\u0630\u0627\u0631\u06cc \u062d\u062f\u0627\u06a9\u062b\u0631 \u06cc\u06a9 \u0648\u06cc\u062f\u0626\u0648 \u0645\u06cc \u0628\u0627\u0634\u06cc\u062f","commentimageSize":"1024","commentimageSizeError":"\u062d\u062c\u0645 \u0639\u06a9\u0633 \u0646\u0628\u0627\u06cc\u062f \u0628\u06cc\u0634 \u0627\u0632 1024 \u06a9\u06cc\u0644\u0648\u0628\u0627\u06cc\u062a \u0628\u0627\u0634\u062f","commentimageCount":"5","commentimageCountError":"\u0645\u062c\u0627\u0632 \u0628\u0647 \u0628\u0627\u0631\u06af\u0630\u0627\u0631\u06cc \u062d\u062f\u0627\u06a9\u062b\u0631 5 \u0639\u06a9\u0633 \u0645\u06cc \u0628\u0627\u0634\u06cc\u062f","commentfileFormatError":"\u0641\u0631\u0645\u062a \u0641\u0627\u06cc\u0644 \u0645\u0639\u062a\u0628\u0631 \u0646\u0645\u06cc \u0628\u0627\u0634\u062f","commentfileRemoveText":"\u062d\u0630\u0641"};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/themes/Nikikala/assets/js/nikikala.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce-offer-nikan/assets/js/jquery.countdown.min.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var jcaa = {"enable_validation":"yes","enable_attr_toggle":"yes"};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce-attributes-nikan/assets/js/frontend/product.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/jquery/ui/core.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/jquery/ui/widget.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/jquery/ui/mouse.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/jquery/ui/sortable.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/jquery/ui/datepicker.min.js"></script>
	<script type="text/javascript">
jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"\u0628\u0633\u062a\u0646.","currentText":"\u0627\u0645\u0631\u0648\u0632","monthNames":["\u0698\u0627\u0646\u0648\u06cc\u0647","\u0641\u0648\u0631\u06cc\u0647","\u0645\u0627\u0631\u0633","\u0622\u0648\u0631\u06cc\u0644","\u0645\u06cc","\u0698\u0648\u0626\u0646","\u062c\u0648\u0644\u0627\u06cc","\u0622\u06af\u0648\u0633\u062a","\u0633\u067e\u062a\u0627\u0645\u0628\u0631","\u0627\u06a9\u062a\u0628\u0631","\u0646\u0648\u0627\u0645\u0628\u0631","\u062f\u0633\u0627\u0645\u0628\u0631"],"monthNamesShort":["\u0698\u0627\u0646\u0648\u06cc\u0647","\u0641\u0648\u0631\u06cc\u0647","\u0645\u0627\u0631\u0633","\u0622\u0648\u0631\u06cc\u0644","\u0645\u0647","\u0698\u0648\u0626\u0646","\u062c\u0648\u0644\u0627\u06cc","\u0622\u06af\u0648\u0633\u062a","\u0633\u067e\u062a\u0627\u0645\u0628\u0631","\u0627\u06a9\u062a\u0628\u0631","\u0646\u0648\u0627\u0645\u0628\u0631","\u062f\u0633\u0627\u0645\u0628\u0631"],"nextText":"\u0628\u0639\u062f","prevText":"\u0642\u0628\u0644\u06cc","dayNames":["\u06cc\u06a9\u0634\u0646\u0628\u0647","\u062f\u0648\u0634\u0646\u0628\u0647","\u0633\u0647\u200c\u0634\u0646\u0628\u0647","\u0686\u0647\u0627\u0631\u0634\u0646\u0628\u0647","\u067e\u0646\u062c\u200c\u0634\u0646\u0628\u0647","\u062c\u0645\u0639\u0647","\u0634\u0646\u0628\u0647"],"dayNamesShort":["\u06cc","\u062f","\u0633","\u0686","\u067e","\u062c","\u0634"],"dayNamesMin":["\u06cc","\u062f","\u0633","\u0686","\u067e","\u062c","\u0634"],"dateFormat":"d MM yy","firstDay":6,"isRTL":true});});
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/vendors/tooltips/tooltips.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var DokanValidateMsg = {"required":"\u0627\u06cc\u0646 \u0641\u06cc\u0644\u062f \u0627\u0644\u0632\u0627\u0645\u06cc \u0627\u0633\u062a.","remote":"\u0644\u0637\u0641\u0627 \u0627\u06cc\u0646 \u0641\u06cc\u0644\u062f \u0631\u0627 \u0627\u0635\u0644\u0627\u062d \u06a9\u0646\u06cc\u062f.","email":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u0622\u062f\u0631\u0633 \u0627\u06cc\u0645\u06cc\u0644 \u0645\u0639\u062a\u0628\u0631 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","url":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u0646\u0634\u0627\u0646\u06cc \u0648\u0628 \u0645\u0639\u062a\u0628\u0631 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","date":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u062a\u0627\u0631\u06cc\u062e \u0645\u0639\u062a\u0628\u0631 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","dateISO":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u062a\u0627\u0631\u06cc\u062e \u0645\u0639\u062a\u0628\u0631 (ISO) \u0631\u0627 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","number":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u0634\u0645\u0627\u0631\u0647 \u062a\u0644\u0641\u0646 \u0645\u0639\u062a\u0628\u0631 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","digits":"\u0644\u0637\u0641\u0627 \u0641\u0642\u0637 \u0631\u0642\u0645 \u0631\u0627 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","creditcard":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u0634\u0645\u0627\u0631\u0647 \u06a9\u0627\u0631\u062a \u0627\u0639\u062a\u0628\u0627\u0631\u06cc \u0645\u0639\u062a\u0628\u0631 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","equalTo":"\u0644\u0637\u0641\u0627 \u0645\u062c\u062f\u062f\u0627 \u0647\u0645\u0627\u0646 \u0645\u0642\u062f\u0627\u0631 \u0631\u0627 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","maxlength_msg":"\u0644\u0637\u0641\u0627 \u0628\u06cc\u0634 \u0627\u0632 {0} \u062d\u0631\u0641 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","minlength_msg":"\u0644\u0637\u0641\u0627 \u062d\u062f\u0627\u0642\u0644 {0} \u062d\u0631\u0641 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","rangelength_msg":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u0645\u0642\u062f\u0627\u0631 \u0628\u06cc\u0646 {0} \u0648 {1} \u062d\u0631\u0641 \u0637\u0648\u0644\u0627\u0646\u06cc \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","range_msg":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u0645\u0642\u062f\u0627\u0631 \u0628\u06cc\u0646 {0} \u0648 {1} \u0631\u0627 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","max_msg":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u0645\u0642\u062f\u0627\u0631 \u06a9\u0645\u062a\u0631 \u06cc\u0627 \u0628\u0631\u0627\u0628\u0631 {0} \u0631\u0627 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f.","min_msg":"\u0644\u0637\u0641\u0627 \u06cc\u06a9 \u0645\u0642\u062f\u0627\u0631 \u0628\u0632\u0631\u06af\u062a\u0631 \u06cc\u0627 \u0628\u0631\u0627\u0628\u0631 {0} \u0631\u0627 \u0648\u0627\u0631\u062f \u06a9\u0646\u06cc\u062f."};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/vendors/form-validate/form-validate.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/js/speakingurl.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/vendors/i18n/jed.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/js/vendor-registration.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/imgareaselect/jquery.imgareaselect.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/underscore.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/customize-base.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/backbone.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/customize-models.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var dokan_refund = {"mon_decimal_point":".","remove_item_notice":"\u0622\u06cc\u0627 \u0628\u0631\u0627\u06cc \u062d\u0630\u0641 \u0622\u06cc\u062a\u0645 \u0647\u0627\u06cc \u0627\u0646\u062a\u062e\u0627\u0628 \u0634\u062f\u0647 \u0627\u0637\u0645\u06cc\u0646\u0627\u0646 \u062f\u0627\u0631\u06cc\u062f\u061f \u0627\u06af\u0631 \u0642\u0628\u0644\u0627 \u0645\u0648\u062c\u0648\u062f\u06cc \u0627\u06cc\u0646 \u0622\u06cc\u062a\u0645 \u0631\u0627 \u06a9\u0627\u0647\u0634 \u062f\u0627\u062f\u0647 \u0627\u06cc\u062f \u06cc\u0627 \u0627\u06cc\u0646 \u0633\u0641\u0627\u0631\u0634 \u062a\u0648\u0633\u0637 \u06cc\u06a9 \u0645\u0634\u062a\u0631\u06cc \u062b\u0628\u062a \u0634\u062f\u0647 \u0627\u0633\u062a\u060c \u0645\u06cc \u0628\u0627\u06cc\u0633\u062a \u0628\u0647 \u0635\u0648\u0631\u062a \u062f\u0633\u062a\u06cc \u0645\u0648\u062c\u0648\u062f\u06cc \u0631\u0627 \u0628\u0647 \u062d\u0627\u0644\u062a \u0642\u0628\u0644 \u0628\u0631\u06af\u0631\u062f\u0627\u0646\u06cc\u062f.","i18n_select_items":"\u0644\u0637\u0641\u0627 \u0686\u0646\u062f \u0645\u0648\u0631\u062f \u0631\u0627 \u0627\u0646\u062a\u062e\u0627\u0628 \u06a9\u0646\u06cc\u062f.","i18n_do_refund":"\u0622\u06cc\u0627 \u0645\u0637\u0645\u0626\u0646 \u0647\u0633\u062a\u06cc\u062f \u06a9\u0647 \u0645\u06cc\u062e\u0648\u0627\u0647\u06cc\u062f \u0627\u06cc\u0646 \u0628\u0627\u0632\u06af\u0634\u062a \u0648\u062c\u0647 \u0631\u0627 \u0627\u0646\u062c\u0627\u0645 \u062f\u0647\u06cc\u062f\u061f \u0627\u06cc\u0646 \u0639\u0645\u0644\u06cc\u0627\u062a \u0628\u0631\u06af\u0634\u062a \u0646\u0627\u067e\u0630\u06cc\u0631 \u0627\u0633\u062a.","i18n_delete_refund":"\u0622\u06cc\u0627 \u0645\u0637\u0645\u0626\u0646 \u0647\u0633\u062a\u06cc\u062f \u06a9\u0647 \u0645\u06cc\u062e\u0648\u0627\u0647\u06cc\u062f \u0627\u06cc\u0646 \u0628\u0627\u0632\u06af\u0634\u062a \u0648\u062c\u0647 \u0631\u0627 \u062d\u0630\u0641 \u06a9\u0646\u06cc\u062f\u061f \u0627\u06cc\u0646 \u0639\u0645\u0644\u06cc\u0627\u062a \u0628\u0631\u06af\u0634\u062a \u0646\u0627\u067e\u0630\u06cc\u0631 \u0627\u0633\u062a.","remove_item_meta":"\u067e\u0627\u06a9 \u06a9\u0631\u062f\u0646 \u0627\u0637\u0644\u0627\u0639\u0627\u062a \u0627\u06cc\u0646 \u0622\u06cc\u062a\u0645\u061f","ajax_url":"https:\/\/niki-kala.ir\/wp-admin\/admin-ajax.php","order_item_nonce":"45a7720f39","post_id":"","currency_format_num_decimals":"0","currency_format_symbol":"\u062a\u0648\u0645\u0627\u0646","currency_format_decimal_sep":".","currency_format_thousand_sep":",","currency_format":"%v\u00a0%s","rounding_precision":"6"};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/js/dokan.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/vendors/select2/select2.full.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/vendors/magnific/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-lite/assets/js/login-form-popup.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/dokan-pro/assets/js/dokan-pro.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var _wpUtilSettings = {"ajax":{"url":"\/wp-admin\/admin-ajax.php"}};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/wp-util.min.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var wc_add_to_cart_variation_params = {"wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_no_matching_variations_text":"\u0628\u0627 \u0639\u0631\u0636 \u067e\u0648\u0632\u0634\u060c \u0647\u06cc\u0686 \u0645\u062d\u0635\u0648\u0644\u06cc \u0645\u0637\u0627\u0628\u0642 \u0627\u0646\u062a\u062e\u0627\u0628 \u0634\u0645\u0627 \u06cc\u0627\u0641\u062a \u0646\u0634\u062f. \u062e\u0648\u0627\u0647\u0634\u0645\u0646\u062f\u06cc\u0645\u064b \u062a\u0631\u06a9\u06cc\u0628 \u062f\u06cc\u06af\u0631\u06cc \u0631\u0627 \u0627\u0646\u062a\u062e\u0627\u0628 \u06a9\u0646\u06cc\u062f.","i18n_make_a_selection_text":"\u0642\u0628\u0644 \u0627\u0632 \u0627\u06cc\u0646 \u06a9\u0647 \u0627\u06cc\u0646 \u0645\u062d\u0635\u0648\u0644 \u0628\u0647 \u0633\u0628\u062f \u062e\u0631\u06cc\u062f \u062e\u0648\u062f \u0627\u0636\u0627\u0641\u0647 \u06a9\u0646\u06cc\u062f \u06af\u0632\u06cc\u0646\u0647 \u0647\u0627\u06cc \u0645\u062d\u0635\u0648\u0644 \u0631\u0627 \u0627\u0646\u062a\u062e\u0627\u0628 \u06a9\u0646\u06cc\u062f.","i18n_unavailable_text":"\u0628\u0627 \u0639\u0631\u0636 \u067e\u0648\u0632\u0634\u060c \u0627\u06cc\u0646 \u0645\u062d\u0635\u0648\u0644 \u062f\u0631 \u062f\u0633\u062a\u0631\u0633 \u0646\u06cc\u0633\u062a. \u062e\u0648\u0627\u0647\u0634\u0645\u0646\u062f\u06cc\u0645\u064b \u062a\u0631\u06a9\u06cc\u0628 \u062f\u06cc\u06af\u0631\u06cc \u0631\u0627 \u0627\u0646\u062a\u062e\u0627\u0628 \u06a9\u0646\u06cc\u062f."};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart-variation.min.js"></script>
	<script type="text/javascript">
/* <![CDATA[ */
var yith_wpar_general = {"ajax_url":"https:\/\/niki-kala.ir\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
	</script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-content/plugins/yith-woocommerce-points-and-rewards-premium/assets/js/frontend.min.js"></script>
	<script type="text/javascript" src="https://niki-kala.ir/wp-includes/js/wp-embed.min.js"></script>


	@RenderSection("scripts", required: false)
	<div class="remodal-overlay remodal-is-closed" style="display: none;"></div><div class="remodal-wrapper remodal-is-closed" style="display: none;">
		<div class="remodal remodal-general-information remodal-is-initialized remodal-is-closed" data-remodal-id="information" data-remodal-options="hashTracking: false" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" tabindex="-1">
			<div class="remodal-general-information-main">
				<div class="remodal-general-information-content">
					<p id="remodal-general-information-text"></p>
				</div>
				<div class="remodal-general-information-actions">
					<button data-remodal-action="close" class="remodal-general-information-button">باشه</button>
				</div>
			</div>
		</div>
	</div><div class="remodal-wrapper remodal-is-closed" style="display: none;">
		<div class="remodal remodal-alert remodal-is-initialized remodal-is-closed" data-remodal-id="alert" data-remodal-options="hashTracking: false" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" tabindex="-1">
			<div class="remodal-alert-main">
				<div class="remodal-alert-content">
					<p>آیا مایل به حذف این کالا هستید؟</p>
				</div>
				<div class="remodal-alert-buttons">
					<button class="remodal-alert-button remodal-alert-button-yes">بله</button>
					<button data-remodal-action="close" class="remodal-alert-button remodal-alert-button-no">خیر</button>
				</div>
			</div>
		</div>
	</div><div class="remodal-wrapper remodal-is-closed" style="display: none;">
		<div class="remodal remodal-remove-next remodal-is-initialized remodal-is-closed" data-remodal-id="remove-next" data-remodal-options="hashTracking: false" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" tabindex="-1">
			<div class="remodal-remove-next-main">
				<div class="remodal-remove-next-content">
					<p>آیا مایل به حذف این کالا هستید؟</p>
				</div>
				<div class="remodal-remove-next-buttons">
					<button class="remodal-remove-next-button remodal-remove-next-button-remove">حذف</button>
				</div>
			</div>
		</div>
	</div><div class="remodal-wrapper remodal-is-closed" style="display: none;">
		<div class="remodal remodal-loading remodal-is-initialized remodal-is-closed" data-remodal-id="loading" data-remodal-options="hashTracking: false, closeOnOutsideClick: false" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" tabindex="-1">
			<img alt="نیکی کالا" width="156px" height="58px" data-src="
				 
				 " class=" ls-is-cached lazyloaded" src="@Url.Content("~/wp-content/uploads/2019/04/Topbar.jpg")" loading="lazy"><noscript><img src="@Url.Content("~/wp-content/uploads/2019/04/Topbar.jpg")" alt="نیکی کالا" width="156px" height="58px"></noscript>
			<div class="remodal-loading-bullets">
				<i class="remodal-loading-bullet"></i>
				<i class="remodal-loading-bullet"></i>
				<i class="remodal-loading-bullet"></i>
				<i class="remodal-loading-bullet"></i>
			</div>
		</div>
	</div><div class="remodal-wrapper remodal-is-closed" style="display: none;">
		<div class="remodal remodal-login remodal-is-initialized remodal-is-closed" data-remodal-id="login" data-remodal-options="hashTracking: false" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" tabindex="-1">
			<button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
			<div class="remodal-login-header">ورود به سایت</div>
			<div class="remodal-login-content">
				<form class="remodal-login-form" id="login-modal" action="login-modal" method="post">
					<div class="remodal-login-form-title">نام کاربری</div>
					<div class="remodal-login-form-row">
						<div class="remodal-login-form-col">
							<label class="remodal-login-form-input username">
								<input class="nikikala-input" type="text" name="username" id="username" placeholder="نام کاربری را وارد کنید">
							</label>
						</div>
					</div>
					<div class="remodal-login-form-title">رمزعبور</div>
					<div class="remodal-login-form-row">
						<div class="remodal-login-form-col">
							<label class="remodal-login-form-input password">
								<input class="nikikala-input" name="password" id="password" type="password" placeholder="رمزعبور را وارد کنید">
							</label>
						</div>
					</div>
					<div class="remodal-login-form-agree">
						<label class="login-checkbox">
							<input type="checkbox" value="1" id="rememberme" name="rememberme"><span class="login-checkbox-check"></span>
						</label>
						<label for="rememberme">مرا به خاطر بسپار</label>
					</div>

					<div class="remodal-login-form-row">
						<div class="remodal-login-form-col">
							<button type="submit" name="submit" id="wp-submit" class="btn-login">ورود به سایت</button>
						</div>
					</div>
					<div class="remodal-login-forget-link">
						<a href="https://niki-kala.ir/my-account/lost-password/">رمزعبور را فراموش کرده ام؟</a>
					</div>
					<div class="shop-message-one hidden"></div>
				</form>
			</div>
			<div class="remodal-login-footer is-highlighted">
				<span>کاربر جدید هستید؟</span>
				<a href="https://niki-kala.ir/my-account/?action=register">ثبت نام در سایت</a>
			</div>
		</div>
	</div>
</body>
</html>

