<!DOCTYPE html>
<html dir="rtl" lang="fa-IR" class="no-js no-svg">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="fontiran.com:license" content="QTGS2">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="shortcut icon" href="@Url.Content("~/Vendor/img/icon/favicon.ico")" />
	<style>
		.wpb_content_element {
		display: inline - block;
	}

		.wpb_wrapper {
		display: inline;
	}
	</ style >


	< script > (function(html) { html.className = html.className.replace(/\bno - js\b /, 'js') })(document.documentElement);</ script >


		 < title > Rosentis &#8211; Dental Store</title>
	< style type = "text/css" data - type = "vc_shortcodes-custom-css" >


		   .vc_custom_1556055450029 {
		padding - left: 0px !important;
	}

		.vc_custom_1555945811263 {
		padding - bottom: 0px !important;
	}

		.vc_custom_1545502921704 {
		padding - right: 0px !important;
	}
	</ style >
	< link rel = 'dns-prefetch' href = '//s.w.org' />
	@*<link rel="alternate" type="application/rss+xml" title="رزِنتیس &raquo; خوراک" href="https://localhost:51897/feed/" />
		<link rel="alternate" type="application/rss+xml" title="رزِنتیس &raquo; خوراک دیدگاه‌ها" href="https://localhost:51897/comments/feed/" />*@
	<script type="text/javascript">
		window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/localhost:51897\/wp-includes\/js\/wp-emoji-release.min.js" } };
		!function (e, a, t) { var r, n, o, i, p = a.createElement("canvas"), s = p.getContext && p.getContext("2d"); function c(e, t) { var a = String.fromCharCode; s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, e), 0, 0); var r = p.toDataURL(); return s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, t), 0, 0), r === p.toDataURL() } function l(e) { if (!s || !s.fillText) return !1; switch (s.textBaseline = "top", s.font = "600 32px Arial", e) { case "flag": return !c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447])); case "emoji": return !c([55357, 56424, 55356, 57342, 8205, 55358, 56605, 8205, 55357, 56424, 55356, 57340], [55357, 56424, 55356, 57342, 8203, 55358, 56605, 8203, 55357, 56424, 55356, 57340]) }return !1 } function d(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (i = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, o = 0; o < i.length; o++)t.supports[i[o]] = l(i[o]), t.supports.everything = t.supports.everything && t.supports[i[o]], "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji))) }(window, document, window._wpemojiSettings);
	</script>
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel="stylesheet" id='wp-block-library-rtl-css' href="@Url.Content("~/wp-includes/css/dist/block-library/style-rtl.min.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='wc-block-style-css' href="@Url.Content("~/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='menu-image-css' href="@Url.Content("~/wp-content/plugins/menu-image/includes/css/menu-image.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='wcva-shop-frontend-css' href="@Url.Content("~/wp-content/plugins/woocommerce-colororimage-variation-select/css/shop-frontend.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='woocommerce-layout-rtl-css' href="@Url.Content("~/wp-content/plugins/woocommerce/assets/css/woocommerce-layout-rtl.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='woocommerce-smallscreen-rtl-css' href="@Url.Content("~/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen-rtl.css")" type="text/css" media='only screen and (max-width: 768px)' />
	<link rel="stylesheet" id='woocommerce-general-rtl-css' href="@Url.Content("~/wp-content/plugins/woocommerce/assets/css/woocommerce-rtl.css")" type="text/css" media="all" />
	<style id='woocommerce-inline-inline-css' type="text/css">
		.woocommerce form .form-row .required {
			visibility: visible;
		}
	</style>
	<link rel="stylesheet" id='yith-wcbr-css' href="@Url.Content("~/wp-content/plugins/yith-woocommerce-brands-add-on/assets/css/yith-wcbr.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='bootstrap-rtl-css' href="@Url.Content("~/wp-content/themes/rosentis/assets/css/bootstrap-rtl.min.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='swiper-slider-css' href="@Url.Content("~/wp-content/themes/rosentis/assets/css/swiper.min.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='rosentis-css' href="@Url.Content("~/wp-content/themes/rosentis/assets/css/rosentis.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='rosentis-style-css' href="@Url.Content("~/wp-content/themes/rosentis/style.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='nikan-offer-style-css' href="@Url.Content("~/wp-content/plugins/woocommerce-offer-nikan/assets/css/core.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='dokan-style-css' href="@Url.Content("~/wp-content/plugins/dokan-lite/assets/css/style.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='dokan-fontawesome-css' href="@Url.Content("~/wp-content/plugins/dokan-lite/assets/vendors/font-awesome/font-awesome.min.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='dokan-rtl-style-css' href="@Url.Content("~/wp-content/plugins/dokan-lite/assets/css/rtl.css")" type="text/css" media="all" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" id='vc_lte_ie9-css'   href="@Url.Content("~/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css")" type="text/css" media='screen' />
	<![endif]-->
	<link rel="stylesheet" id='js_composer_front-css' href="@Url.Content("~/wp-content/plugins/js_composer/assets/css/js_composer.min.css")" type="text/css" media="all" />
	<link rel="stylesheet" id='dgwt-wcas-style-css' href="@Url.Content("~/wp-content/plugins/ajax-search-for-woocommerce/assets/css/style.min.css")" type="text/css" media="all" />
	<script type='text/javascript'>
		/* <![CDATA[ */
		var dokan = {
			"ajaxurl": "http:\/\/localhost:51897\/wp-admin\/admin-ajax.php", "nonce": "f04ac05d32",
			"ajax_loader": "http:\/\/localhost:51897\/wp-content\/plugins\/dokan-lite\/assets\/images\/ajax-loader.gif",
			"seller": {
				"available": "\u062f\u0631 \u062f\u0633\u062a\u0631\u0633",
				"notAvailable": "\u0645\u0648\u062c\u0648\u062f \u0646\u06cc\u0633\u062a."
			}, "delete_confirm": "\u0634\u0645\u0627 \u0645\u0637\u0645\u0626\u0646 \u0647\u0633\u062a\u06cc\u062f\u061f", "wrong_message": "\u0638\u0627\u0647\u0631\u0627\u064b \u0627\u0634\u062a\u0628\u0627\u0647\u06cc \u0635\u0648\u0631\u062a \u06af\u0631\u0641\u062a\u0647 \u0627\u0633\u062a. \u0644\u0637\u0641\u0627 \u062f\u0648\u0628\u0627\u0631\u0647 \u062a\u0644\u0627\u0634 \u06a9\u0646\u06cc\u062f.", "vendor_percentage": "90", "commission_type": "percentage", "rounding_precision": "6", "mon_decimal_point": ".", "rest": { "root": "http:\/\/localhost:51897\/wp-json\/", "nonce": "42e80c96b5", "version": "dokan\/v1" }, "api": null, "libs": [], "routeComponents": { "default": null }, "routes": []
		};
/* ]]> */
	</script>

	<script type='text/javascript' src="@Url.Content("~/wp-includes/js/jquery/jquery.js")"></script>
	<script type='text/javascript' src="@Url.Content("~/wp-includes/js/jquery/jquery-migrate.min.js")"></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var wcva_shop = { "left_icon": "http:\/\/localhost:51897\/wp-content\/plugins\/woocommerce-colororimage-variation-select\/images\/left-arrow.png", "right_icon": "http:\/\/localhost:51897\/wp-content\/plugins\/woocommerce-colororimage-variation-select\/images\/right-arrow.png", "enable_slider": "no", "slider_no": "4", "hover_swap": "no" };
/* ]]> */
	</script>
	<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/woocommerce-colororimage-variation-select/js/shop-frontend.js")"></script>
	<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js")"></script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var wc_add_to_cart_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "\u0645\u0634\u0627\u0647\u062f\u0647 \u0633\u0628\u062f \u062e\u0631\u06cc\u062f", "cart_url": "http:\/\/localhost:51897\/cart\/", "is_cart": "", "cart_redirect_after_add": "yes" };
/* ]]> */
	</script>
	<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js")"></script>
	<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/dokan-pro/includes/modules/single-product-multiple-vendor/assets/js/tinysort.min.js")"></script>
	<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js")"></script>
	<!--[if lt IE 9]>
	<script type='text/javascript' src="@Url.Content("~/wp-content/themes/rosentis/assets/js/html5.js")" ></script>
	<![endif]-->
	<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/woocommerce-offer-nikan/assets/js/jquery.easing.js")"></script>
	<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/woocommerce-offer-nikan/assets/js/main.js")"></script>
	<link rel='https://api.w.org/' href="@Url.Content("~/wp-content/wp-json/")" />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="@Url.Content("~/xmlrpc.php?rsd")" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="@Url.Content("~/wp-includes/wlwmanifest.xml")" />
	<link rel="canonical" href="https://localhost:51897/" />
	<link rel='shortlink' href='https://localhost:51897/' />
	<link rel="alternate" type="application/json+oembed" href="@Url.Content("~/wp-json/oembed/1.0/embed?url=https%3A%2F%2Flocalhost:51897%2F")" />
	<link rel="alternate" type="text/xml+oembed" href="@Url.Content("~/wp-json/oembed/1.0/embed?url=https%3A%2F%2Flocalhost:51897%2F&#038;format=xml")" />
	<!-- Analytics by WP-Statistics v12.6.11 - http://wp-statistics.com/ -->
	<style type="text/css">
		.dgwt-wcas-search-wrapp {
			max-width: 600px
		}
	</style>
	<style>
		.no-js img.lazyload {
			display: none;
		}

		figure.wp-block-image img.lazyloading {
			min-width: 150px;
		}

		.lazyload, .lazyloading {
			opacity: 0;
		}

		.lazyloaded {
			opacity: 1;
			transition: opacity 400ms;
			transition-delay: 0ms;
		}
	</style>
	<noscript>
	<style>
		.woocommerce-product-gallery {
			opacity: 1 !important;
		}
	</style></noscript>
	<style type="text/css">
		/**
		 * Dynamic Styles
		 */
		ul.jcaa_attr_variable_select .jcaa_attr_option:hover {
			border-color: #333333 !important;
		}

		.jcaa_attr_select .jcaa_attr_option, .jcaa_attr_select .jcaa_attr_option.jcass_attr_disable:hover {
			border: 2px solid #FFFFFF !important;
		}

		.jcaa_attr_select.jcaa_size_small .jcaa_obj_image.jcaa_attr_option, .jcaa_attr_select.jcaa_size_small .jcaa_obj_color.jcaa_attr_option {
			width: 20px;
			height: 20px;
		}

		.upsells.products .jcaa_attr_select.jcaa_size_small .jcaa_obj_image.jcaa_attr_option, .upsells.products .jcaa_attr_select.jcaa_size_small .jcaa_obj_color.jcaa_attr_option {
			width: 20px;
			height: 20px;
		}

		.jcaa_attr_select.jcaa_size_small .jcaa_obj_text.jcaa_attr_option {
			line-height: 20px;
			font-size: 10px;
		}

		.jcaa_attr_select.jcaa_size_medium .jcaa_obj_image.jcaa_attr_option, .jcaa_attr_select.jcaa_size_medium .jcaa_obj_color.jcaa_attr_option {
			width: 30px;
			height: 30px;
		}

		.upsells.products .jcaa_attr_select.jcaa_size_medium .jcaa_obj_image.jcaa_attr_option, .upsells.products .jcaa_attr_select.jcaa_size_medium .jcaa_obj_color.jcaa_attr_option {
			width: 30px;
			height: 30px;
		}

		.jcaa_attr_select.jcaa_size_medium .jcaa_obj_text.jcaa_attr_option {
			line-height: 30px;
			font-size: 15px;
		}

		.jcaa_attr_select.jcaa_size_large .jcaa_obj_image.jcaa_attr_option, .jcaa_attr_select.jcaa_size_large .jcaa_obj_color.jcaa_attr_option {
			width: 40px;
			height: 40px;
		}

		.upsells.products .jcaa_attr_select.jcaa_size_large .jcaa_obj_image.jcaa_attr_option, .upsells.products .jcaa_attr_select.jcaa_size_large .jcaa_obj_color.jcaa_attr_option {
			width: 40px;
			height: 40px;
		}

		.jcaa_attr_select.jcaa_size_large .jcaa_obj_text.jcaa_attr_option {
			line-height: 40px;
			font-size: 20px;
		}

		ul.jcaa_attr_select li {
			border: 1px solid #DDDDDD;
		}

		.jcaa_attr_select .jcaa_active_attr {
			border-color: #333333;
		}

		.jcaa_attr_select .jcass_attr_disabled {
			opacity: 0.2;
		}
	</style>
	<style type="text/css">
		.recentcomments a {
			display: inline !important;
			padding: 0 !important;
			margin: 0 !important;
		}
	</style>
	<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
	<style type="text/css" title="dynamic-css" class="options-output">
		body, .new-header .header-cart-btn[data-counter]:after {
			font-family: IRANYekan;
		}

		body {
			background-color: #f5f5f5;
		}

		body {
			color: #515151;
		}

		a {
			color: #4a5f73;
		}

			a:hover {
				color: #4a5f73;
			}

		.top-header-banner {
			background-repeat: repeat-x;
			background-position: center top;
			background-image: url('../../wp-content/uploads/2019/04/Topbar.jpg');
		}

			.top-header-banner, .top-header-banner a {
				color: #000000;
			}

				.top-header-banner:hover, .top-header-banner a:hover {
					color: #ffffff;
				}

		.rosentis-header {
			background-color: #ffffff;
		}

		.rosentis-header {
			color: #515151;
		}

		.dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
			background-color: #ef5661;
		}

		.dgwt-wcas-ico-magnifier {
			fill: #ffffff;
		}

		.header-cart-btn[data-counter="0"], .header-cart-btn[data-counter="0"]:hover, .header-cart-btn[data-counter="0"]:before, .cart-counts-number[data-counter]:after {
			color: #00bfd6;
		}

			.header-cart-btn, .header-basket-submit, .header-basket-submit:hover, .header-cart-btn[data-counter="0"] span:after {
				background-color: #00bfd6;
			}

				.header-cart-btn[data-counter="0"] {
					border-color: #00bfd6;
				}

				.header-cart-btn, .header-cart-btn:hover, .header-cart-btn:not([href]):not([tabindex]), .header-cart-btn:hover:not([href]):not([tabindex]), .cart-counts-number[data-counter="0"]:after, .header-basket-submit, .header-basket-submit:hover {
					color: #ffffff;
				}

					.header-cart-btn[data-counter="0"], .cart-counts-number[data-counter]:after {
						background-color: #ffffff;
					}

		.niki-menu, .niki-menu-list {
			background-color: #616161;
		}

		.niki-menu-list-items-item > li > a, .niki-menu-list-items-item > li:hover > a {
			color: #ffffff;
		}

			.niki-menu-list-items-item > li:hover > a:before, .niki-menu-list-promotions-item li a:hover:before {
				background-color: #ef5661;
			}

		.niki-menu-list-items-item li > ul, .niki-menu-list-items-item li:hover > ul {
			background-color: #ffffff;
		}

			.niki-menu-list-items-item li > ul > li a, .niki-menu-list-items-item li > ul > li a:before {
				color: #1ca2bd;
			}

				.niki-menu-list-items-item li > ul > li a:hover span {
					border-color: #1ca2bd;
				}

			.niki-menu-list-items-item li > ul > li > ul > li a {
				color: #6a6a6a;
			}

		.niki-menu-list-promotions-item li a {
			background-color: #4f4f4f;
		}

			.niki-menu-list-promotions-item li a, .niki-menu-list-promotions-item li a:hover {
				color: #ffffff;
			}

		.niki-menu-line {
			background-color: #000000;
		}

		.rosentis-footer {
			background-color: #eceff1;
		}

		.go-to-top {
			background-color: #f5f5f5;
		}

		.go-to-top {
			color: #4a4a4a;
		}

		.go-to-top-icon {
			background-color: #bfbfbf;
		}

			.go-to-top-icon:before {
				color: #ffffff;
			}

		.footer-single-feature {
			color: #606060;
		}

		.footer-second-box .widget-title, .footer-second-box .widget-title a, .rosentis-footer .newsletter-form-title {
			color: #4a5f73;
		}

		.footer-second-box ul li a {
			color: #4b4b4b;
		}

		.rosentis-footer .newsletter-form button {
			background-color: #00bfd6;
		}

		.rosentis-footer .newsletter-form button {
			color: #ffffff;
		}

		.rosentis-footer-contact-row, .rosentis-footer-contact-row li {
			color: #535353;
		}

			.rosentis-footer-contact-row li a {
				color: #4a5f73;
			}

		.rosentis-footer-info {
			background-color: #d7dee0;
		}

		.rosentis-footer-info-content-box h1 {
			color: #5d5959;
		}

		.rosentis-footer-info-content-box p {
			color: #535353;
		}

		.rosentis-footer-info a {
			color: #8e8e8e;
		}

		.rosentis-footer-copyright-text {
			color: #4a4a4a;
		}

		.product-page-main form.cart .button.alt {
			background-color: #00bfd6;
		}

		.product-page-main form.cart .button.alt {
			color: #ffffff;
		}

		.top-header-banner {
			height: 60px;
		}

		#nikanhomeslider {
			height: 329px;
		}

			#nikanhomeslider .swiper-slide {
				background-repeat: no-repeat;
				background-size: inherit;
				background-position: center center;
			}

		#nikanmobslider {
			height: 214px;
		}

			#nikanmobslider .swiper-slide {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
			}
	</style>
	<style type="text/css" class="nikan-offer-dynamic-css">
		.nikan-navigator-new {
			background-color:;
			border-right-color:
		}

			.nikan-navigator-new .navigator-wrap-inner li span {
				color:
			}

			.nikan-navigator-new .navigator-wrap-inner li:hover {
				background-color:
			}

			.nikan-navigator-new .navigator-wrap-inner li.active, .nikan-navigator-new .navigator-wrap-inner li span:before {
				background-color:
			}

				.nikan-navigator-new .navigator-wrap-inner li.active span {
					color:
				}

			.nikan-navigator-new .view-all-offers, .nikan-offer-section .all-offers-btn {
				background-color:;
				color: !important
			}

		.nikan-sliderwarp-new .offer-text-section:before {
			background-color:
		}

		.nikan-sliderwarp-new .nikan-opacity li, .nikan-offer-section .single-offer-box {
			background-color:
		}

		.nikan-sliderwarp-new a, .nikan-sliderwarp a:hover, .nikan-sliderwarp-new .timer-title, .nikan-offer-section .single-offer-title {
			color:
		}

		.nikan-sliderwarp-new .products_sliders-wrap > li > a:hover {
			color: !important
		}

		.nikan-sliderwarp-new .product_attributes span:before {
			background-color:
		}

		.nikan-sliderwarp-new .counter-box .clock-timer {
			color:
		}

		.nikan-sliderwarp-new .price-box-main .price-old, .nikan-offer-section .single-offer-price del {
			color:
		}

		.nikan-sliderwarp-new .price-box-main .price-final, .nikan-offer-section .single-offer-price-box, .nikan-offer-section .single-offer-box .single-offer-currency {
			color:
		}

		.nikan-sliderwarp-new .price-box-discount, .nikan-offer-section .single-offer-discount {
			color:
		}

		.nikan-sliderwarp-new .price-box-discount-inner, .nikan-offer-section .single-offer-discount {
			background-color:
		}

		.nikan-sliderwarp-new .price-box-finished, .nikan-sliderwarp-new .btn-out-of-stock {
			background-color:;
			border-color:;
			color:
		}

		.nikan-offer-section .out-of-stock-text, .nikan-offer-section .single-offer-counter.out-text {
			color:
		}

		.nikan-offers-single-page-deal {
			background-color:;
			border-color:
		}

			.nikan-offers-single-page-deal .nikan-offers-special-deal {
				color:
			}

		.nikan-offers-amazing-offer {
			background-color:;
			color:
		}

		.nikan-offers-items .nikan-offers-product-box {
			background-color:
		}

		.nikan-offers-items .nikan-offers-title a {
			color:
		}

		.nikan-offers-items .counter-finished {
			color:
		}

		.nikan-offers-items .nikan-offers-content-pricevalue, .nikan-offers-items .nikan-offers-content-pricecurrency {
			color:
		}

			.nikan-offers-items .nikan-offers-content-pricevalue del {
				color:
			}

		.nikan-offers-items .nikan-offers-special-deal {
			color:
		}

		.nikan-offers-items .nikan-offers-discount > span {
			color:
		}

		.nikan-offers-items .nikan-offers-discount {
			border-left-color:
		}

		.nikan-offers-price-discount {
			color:;
			border-color:;
			background-color:
		}
	</style>
	<noscript>
	<style>
		.wpb_animate_when_almost_visible {
			opacity: 1;
		}
	</style></noscript>
	@RenderSection("HeadContent", required: false)
</head>
<body class="rtl home page-template page-template-template-visual page-template-template-visual-php
	  page page-id-35 theme-rosentis woocommerce-no-js yith-wcan-pro new-header wpb-js-composer 
	  js-comp-ver-6.0.5 vc_responsive page-template-default
	  woocommerce  dokan-theme-rosentis 
	  logged-in theme-Nikikala 
	  woocommerce-account js-comp-ver-6.1 dokan-theme-Nikikala
	  archive post-type-archive post-type-archive-product">

	@*<body class="
		  woocommerce-checkout woocommerce-page woocommerce-js " style="padding-top: 211px;">*@




		<header class="rosentis-header ">
			<div class="top-header-banner">
				<a href="https://www.rtl-theme.com/rosentis-woocommerce-wordpress-theme/?aff=Nikan" target="_blank">							</a>
			</div>

			@{Html.RenderAction("MainMenu", "Partial"); }
		</header>

		@RenderBody()
		<div class="remodal-wrapper">
			<div class="remodal remodal-general-information" data-remodal-id="information" data-remodal-options="hashTracking: false" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" tabindex="-1">
				<div class="remodal-general-information-main">
					<div class="remodal-general-information-content">
						<p id="remodal-general-information-text"></p>
					</div>
					<div class="remodal-general-information-actions">
						<button data-remodal-action="close" class="remodal-general-information-button">باشه</button>
					</div>
				</div>
			</div>
		</div>
		<div class="remodal-wrapper">
			<div class="remodal remodal-alert" data-remodal-id="alert" data-remodal-options="hashTracking: false" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" tabindex="-1">
				<div class="remodal-alert-main">
					<div class="remodal-alert-content">
						<p>آیا از حذف مطمئن هستید؟</p>
					</div>
					<div class="remodal-alert-buttons">
						<button class="remodal-alert-button remodal-alert-button-yes">بله</button>
						<button class="remodal-alert-button remodal-alert-button-no">خیر</button>
					</div>
				</div>
			</div>
		</div>
		<div class="remodal-wrapper">
			<div class="remodal remodal-loading" data-remodal-id="loading" data-remodal-options="hashTracking: false, closeOnOutsideClick: false" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" tabindex="-1">
				<div class="remodal-loading-bullets">
					<i class="remodal-loading-bullet"></i>
					<i class="remodal-loading-bullet"></i>
					<i class="remodal-loading-bullet"></i>
					<i class="remodal-loading-bullet"></i>
				</div>
			</div>
		</div>
		<div class="remodal-wrapper">
			<div class="remodal remodal-login" data-remodal-id="login" data-remodal-options="hashTracking: false" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" tabindex="-1">
				<button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
				<div class="remodal-login-header">ورود به سایت</div>
				<div class="remodal-login-content">
					<form class="remodal-login-form" id="login-modal" action="https://rosentis.ir/login-modal" method="post">
						<div class="remodal-login-form-title">نام کاربری</div>
						<div class="remodal-login-form-row">
							<div class="remodal-login-form-col">
								<label class="remodal-login-form-input username">
									<input class="rosentis-input" type="text" name="username" id="username" placeholder="نام کاربری را وارد کنید">
								</label>
							</div>
						</div>
						<div class="remodal-login-form-title">رمزعبور</div>
						<div class="remodal-login-form-row">
							<div class="remodal-login-form-col">
								<label class="remodal-login-form-input password">
									<input class="rosentis-input" name="password" id="password" type="password" placeholder="رمزعبور را وارد کنید">
								</label>
							</div>
						</div>
						<div class="remodal-login-form-agree">
							<label class="login-checkbox">
								<input type="checkbox" value="1" id="rememberme" name="rememberme"><span class="login-checkbox-check"></span>
							</label>
							<label for="rememberme">مرا به خاطر بسپار</label>
						</div>

						<div class="remodal-login-form-row">
							<div class="remodal-login-form-col">
								<button type="submit" name="submit" id="wp-submit" class="btn-login">ورود به سایت</button>
							</div>
						</div>
						<div class="remodal-login-forget-link">
							<a href="my-account/lost-password/index.html">رمزعبور را فراموش کرده ام؟</a>
						</div>
						<div class="shop-message-one hidden"></div>
					</form>
				</div>
				<div class="remodal-login-footer is-highlighted">
					<span>کاربر جدید هستید؟</span>
					<a href="my-account/index0ddc.html?action=register">ثبت نام در سایت</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var c = document.body.className;
			c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
			document.body.className = c;
		</script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js")"></script>
		<script type='text/javascript'>
			var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
		</script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js")"></script>
		<script type='text/javascript'>
			var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_e977ccbd60b34c050988beef31f23054", "fragment_name": "wc_fragments_e977ccbd60b34c050988beef31f23054", "request_timeout": "5000" };
		</script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js")"></script>
		<script type='text/javascript'>
			window.lazySizesConfig = window.lazySizesConfig || {};

			window.lazySizesConfig.lazyClass = 'lazyload';
			window.lazySizesConfig.loadingClass = 'lazyloading';
			window.lazySizesConfig.loadedClass = 'lazyloaded';

			lazySizesConfig.loadMode = 1;
		</script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/wp-smushit/app/assets/js/smush-lazy-load.min.js")"></script>
		<script type='text/javascript'>
			lazySizes.init();
		</script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/themes/rosentis/assets/js/swiper.min.js")"></script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/themes/rosentis/assets/js/remodal.js")"></script>
		<script type='text/javascript'>
			var rosentis_ajax_actions = { "ajaxurl": "https:\/\/rosentis.ir\/wp-admin\/admin-ajax.php", "loginRedirectURL": "https:\/\/rosentis.ir\/", "loginRedirectVendorURL": "https:\/\/rosentis.ir\/dashboard\/", "readmore_string": "\u0627\u062f\u0627\u0645\u0647 \u0645\u0637\u0644\u0628", "close_string": "\u0628\u0633\u062a\u0646", "moreitems_string": "\u0645\u0648\u0627\u0631\u062f \u0628\u06cc\u0634\u062a\u0631", "verybad_string": "\u062e\u06cc\u0644\u06cc \u0628\u062f", "bad_string": "\u0628\u062f", "normal_string": "\u0645\u0639\u0645\u0648\u0644\u06cc", "good_string": "\u062e\u0648\u0628", "verygood_string": "\u062e\u06cc\u0644\u06cc \u062e\u0648\u0628", "zoom_position": "10" };
		</script>

		<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/woocommerce-offer-nikan/assets/js/jquery.countdown.min.js")"></script>
		<script type='text/javascript'>
			var jcaa = { "enable_validation": "yes", "enable_attr_toggle": "yes" };
		</script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/woocommerce-attributes-nikan/assets/js/frontend/product.js")"></script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/dokan-lite/assets/vendors/magnific/jquery.magnific-popup.min.js")"></script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/dokan-lite/assets/js/login-form-popup.js")"></script>
		<script type='text/javascript' src="@Url.Content("~/wp-includes/js/wp-embed.min.js")"></script>
		<script type='text/javascript'>
			var dgwt_wcas = { "t": { "sale_badge": "\u062d\u0631\u0627\u062c", "featured_badge": "\u0648\u06cc\u0698\u0647", "category": "\u062f\u0633\u062a\u0647 \u0628\u0646\u062f\u06cc", "tag": "\u0628\u0631\u0686\u0633\u0628", "brand": "Brand", "sku_label": "SKU:" }, "ajax_search_endpoint": "\/?wc-ajax=dgwt_wcas_ajax_search", "ajax_details_endpoint": "\/?wc-ajax=dgwt_wcas_result_details", "action_search": "dgwt_wcas_ajax_search", "action_result_details": "dgwt_wcas_result_details", "min_chars": "3", "width": "auto", "show_details_box": "", "show_images": "", "show_price": "", "show_desc": "", "show_sale_badge": "", "show_featured_badge": "", "is_rtl": "1", "show_preloader": "1", "preloader_url": "", "taxonomy_brands": "", "copy_no_result": "\u0628\u062f\u0648\u0646 \u0646\u062a\u06cc\u062c\u0647", "copy_show_more": "\u0645\u0634\u0627\u0647\u062f\u0647 \u0647\u0645\u0647 \u0646\u062a\u0627\u06cc\u062c", "copy_in_category": "\u062f\u0631", "img_url": "https:\/\/rosentis.ir\/wp-content\/plugins\/ajax-search-for-woocommerce\/assets\/img\/", "is_premium": "", "overlay_mobile": "", "mobile_breakpoint": "992", "mobile_overlay_wrapper": "body", "debounce_wait_ms": "400" };
		</script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/ajax-search-for-woocommerce/assets/js/search.min.js")"></script>
		<script type='text/javascript' src="@Url.Content("~/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/wp-content/themes/rosentis/assets/js/rosentis.js")"></script>
		<script type="text/javascript">
			jQuery(document).ready(function (e) {
				e(".header-basket-list-item-remove").on("click", function (a) {
					debugger;
					var t = e(this).attr("data-key");
					e('[data-remodal-id="alert"]').length && e('[data-remodal-id="alert"]').remodal().open(),
						e(".remodal-alert-button-yes").click(function () {
							e.ajax({
								type: "POST", dataType: "json",
								url: "@Url.Action("RemoveFromCart", "Cart")" + '/' + t,
								beforeSend: function () {
									e('[data-remodal-id="alert"]').length
										&& e('[data-remodal-id="alert"]').remodal().close(),
										e('[data-remodal-id="loading"]').length &&
										e('[data-remodal-id="loading"]').remodal().open()
								}, success: function (a) {
									(e('[data-remodal-id="loading"]').length &&
										e('[data-remodal-id="loading"]').remodal().close(),
										window.location.reload())
								},
							});
						}),

						e(".remodal-alert-button-no").click(function () {
							e('[data-remodal-id="loading"]').length &&
								e('[data-remodal-id="loading"]').remodal().close()
						}),a.preventDefault()
				})
			});
				@*$('.header-basket-list-item-remove').click(function () {

				});*@
		</script>
		@Scripts.Render("~/bundles/toastr")
		@RenderSection("scripts", required: false)

	</body>
</html>


