@model Rosentis.Site.Models.ProfileAdditional
@{
    ViewBag.Title = "پروفایل کاربری";
}

<div id="content" class="site-content ">
	<div class="container-fluid main-warp">

		<div class="woocommerce">
			<nav class="woocommerce-MyAccount-navigation">
				<div class="account-nav-box">
					<div class="account-nav-box-header">
						<div class="account-nav-box-avatar" style="background-image: url(https://secure.gravatar.com/avatar/dd0e2443a04b57cf8edd6fc6e3dd939e?s=96&amp;d=mm&amp;r=g)"></div>
					</div>
					<div class="account-nav-box-username">fssepid</div>
					<div class="account-nav-box-buttons">
						<a href="https://niki-kala.ir/my-account/edit-account/" class="account-nav-box-btn change-pass">تغییر رمزعبور</a>
						<a href="@Url.Action("Logout","Member")">خروج</a>
					</div>
				</div>
				<ul>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active">
						<a href="https://niki-kala.ir/my-account/">پروفایل</a>
					</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
						<a href="https://niki-kala.ir/my-account/orders/">همه سفارشات</a>
					</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--downloads">
						<a href="https://niki-kala.ir/my-account/downloads/">دانلود ها</a>
					</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
						<a href="https://niki-kala.ir/my-account/edit-address/">آدرس ها</a>
					</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
						<a href="https://niki-kala.ir/my-account/edit-account/">اطلاعات شخصی</a>
					</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--mywishlist">
						<a href="https://niki-kala.ir/my-account/mywishlist/">علاقمندی</a>
					</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--mycomments">
						<a href="https://niki-kala.ir/my-account/mycomments/">نظرات</a>
					</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--notifications">
						<a href="https://niki-kala.ir/my-account/notifications/">اطلاعیه ها</a>
					</li>
					<li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--my-points">
						<a href="https://niki-kala.ir/my-account/my-points/">امتیازات من</a>
					</li>
				</ul>
			</nav>


			<div class="woocommerce-MyAccount-content">
				<div class="woocommerce-notices-wrapper"></div>		<div class="row">
					<div class="col-6">
						<div class="account-headline">
							<span>اطلاعات کاربر</span>
						</div>
						<div class="account-user-info">
							<div class="account-user-info-row">
								<div class="account-user-info-col">
									<p><span>نام كامل: </span>fssepid <span style="display:inline-block" class="small"></span></p>
								</div>
								<div class="account-user-info-col">
									<p><span>ایمیل: </span>fssepid@yahoo.com</p>
								</div>
							</div>
							<div class="account-user-info-row">
								<div class="account-user-info-col">
									<p><span>تلفن همراه: </span>--</p>
								</div>
								<div class="account-user-info-col">
									<p><span>شماره تماس: </span>--</p>
								</div>
							</div>
							<div class="account-user-info-row">
								<div class="account-user-info-col">
									<p><span>عضو شده از: </span>۱۹ فروردین ۱۳۹۹</p>
								</div>
								<div class="account-user-info-col">
									<p><span>مجموع سفارشات: </span>0</p>
								</div>
							</div>
							<div class="account-user-info-edit">
								<a href="https://niki-kala.ir/my-account/edit-account/" class="btn-link-border">ویرایش پروفایل</a>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div class="account-headline">
							<span>آخرین علاقه مندی ها</span>
						</div>
						<div class="account-user-wish">
							<div class="account-user-wish-content">
								<div class="account-user-wish-row">
									<a href="https://niki-kala.ir/product/%d9%87%d8%af%d9%81%d9%88%d9%86-%d8%a8%d9%8a%d8%aa%d8%b3-%d9%85%d8%af%d9%84-studio/" class="account-user-wish-col account-user-wish-col-thumb">
										<img alt="هدفون بيتس مدل Studio" data-src="https://niki-kala.ir/wp-content/uploads/2018/01/headphone-300x300.jpg" class=" lazyloaded" src="https://niki-kala.ir/wp-content/uploads/2018/01/headphone-300x300.jpg" loading="lazy"><noscript><img alt="هدفون بيتس مدل Studio" src="https://niki-kala.ir/wp-content/uploads/2018/01/headphone-300x300.jpg"></noscript>
									</a>
									<div class="account-user-wish-col account-user-wish-col-title">
										<a href="https://niki-kala.ir/product/%d9%87%d8%af%d9%81%d9%88%d9%86-%d8%a8%d9%8a%d8%aa%d8%b3-%d9%85%d8%af%d9%84-studio/">
											<h4>هدفون بيتس مدل Studio</h4>
										</a>
										<div class="account-user-wish-price"><span class="woocommerce-Price-amount amount">939,000&nbsp;<span class="woocommerce-Price-currencySymbol">تومان</span></span></div>
									</div>
									<div class="account-user-wish-col account-user-wish-col-remove">
										<button class="shop-btn wish-btn-remove" data-user="1326" data-product-id="255"></button>
									</div>
								</div>
							</div>
							<div class="account-user-wish-page">
								<a href="https://niki-kala.ir/my-account/mywishlist/" class="btn-link-border">مشاهده و ویرایش علاقه مندی ها</a>
							</div>
						</div>
					</div>
				</div>
				<div class="account-last-orders">

					<div class="woocommerce-message woocommerce-message--info woocommerce-Message woocommerce-Message--info woocommerce-info">
						<a class="woocommerce-Button button" href="https://niki-kala.ir/shop/">
							نمایش محصولات
						</a>
						هیچ سفارشی در اینجا یافت نشد.
					</div>

				</div>

				<p>&nbsp;</p>

				<ul class="dokan-account-migration-lists">
					<li>
						<div class="dokan-w8 left-content">
							<p><strong>فروشنده شوید</strong></p>
							<p>فروشنده می تواند با استفاده از یک داشبورد زیبا فروش محصولات و یک فروشگاه را مدیریت کند</p>
						</div>
						<div class="dokan-w4 right-content">
							<a href="https://niki-kala.ir/my-account/account-migration/seller/" class="btn btn-primary">فروشنده شوید</a>
						</div>
						<div class="dokan-clearfix"></div>
					</li>

				</ul>
			</div>
		</div>

		<!-- #main -->


	</div><!-- .container main -->

</div>

@*<div class="container profile">
  <div class="row">
    @Html.Partial("_UserSideBar",1)
    <div class="col-md-9 ">
      <div class="content-box well">
        @using (Html.BeginForm("Profile", "Member", FormMethod.Post, new { @class = "form-horizontal marginT20" }))
      {<input type="hidden" name="Member.Id" value="@Model.Member.Id" />
        <fieldset>

          <legend>پروفایل من</legend>

          <div class="form-group">
            <div class="col-md-6">
              @Html.TextBoxFor(x => x.Member.FirstName, new { @class = "form-control", placeholder = "نام" })
            </div>
            <div class="col-md-6">
              @Html.TextBoxFor(x => x.Member.LastName, new { @class = "form-control", placeholder = "نام خانوادگی" })
            </div>
          </div>


          <div class="form-group">

            <div class="col-md-6">
              @Html.TextBoxFor(x => x.Member.User.Phone, new { @class = "form-control", disabled = true, required = true, type = "number", placeholder = "شماره همراه" })
            </div>
            <div class="col-md-6">
              @Html.TextBoxFor(x => x.Member.User.Email, new { @class = "form-control", required = true, type = "email", placeholder = "پست الکترونیک" })
            </div>
          </div>
          <div class="form-group">

            <div class="col-md-6">
              @Html.TextBoxFor(x => x.Member.Address, new { @class = "form-control", placeholder = "آدرس" })
            </div>
            <div class="col-md-6">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <Label>استان</Label>
              @Html.DropDownListFor(x => x.Member.ProvinceId, new SelectList(ViewBag.Provinces, "Value", "Text", "Selected"),
                   new { @class = "form-control" })
            </div>
            <div class="col-md-6">
              <Label>شهر</Label>
              @Html.DropDownListFor(x => x.Member.CityId, new SelectList(ViewBag.Cities, "Value", "Text", "Selected"),
                   new { @class = "form-control" })
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6">
              <Label>جنسیت</Label>
              @Html.DropDownListFor(x => x.Member.Gender, new SelectList(ViewBag.Genders, "Value", "Text", "Selected"),
                   new { @class = "form-control" })
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <div class="upload-box">
                <div class="hold">
                  <a href="#">حداکثر حجم عکس 20 مگابایت</a> <span class="btn-file">
                    آپلود
                    <input type="file">
                  </span>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <div class="col-md-4">
              <button id="listing-button" name="listing-button" class="btn btn-warning">ذخیره اطلاعات</button>
            </div>
          </div>

        </fieldset>
    }
      </div>
    </div>



  </div>
</div>*@

@section scripts{
  @*<script>
    $('#Member_ProvinceId').change(function () {
      if ($(this).val() == "") {
        var options = "<option value=''>انتخاب کنید</option>";
        $('#Member_CityId').html(options);
        return;
      }
        $.ajax({
          type: "POST",
          url: "@Url.Action("GetCities","City")",
          data: { id: $('#Member_ProvinceId').val()},
          success: function (data) {
            var options = "";
            for (var i in data)
            {
              var text = data[i].Text;
              var value = data[i].Value;
              options += "<option value='" + value + "'>" + text + "</option>";
            }
            $('#Member_CityId').html(options);
          },
        });
    })
  </script>*@
}